CDEV-DEX670-EN-06jun2024-Student-Files/final/standalone-apps/flights-management-sapi/src/main/resources/schemas/CancellationNotification.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<!--
  #%L
  MuleSoft Training - Anypoint Platform Development: Level 2
  %%
  Copyright (C) 2019 - 2023 MuleSoft, Inc. All rights reserved. http://www.mulesoft.com
  %%
  The software in this package is published under the terms of the
  Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International Public License,
  a copy of which has been included with this distribution in the LICENSE.txt file.
  #L%
  -->

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="CancellationNotification">
		<xs:complexType>
			<xs:sequence>
				<xs:element type="xs:string" name="PNR" minOccurs="1" />
				<xs:element type="xs:string" name="PassengerLastName" minOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
